In [58]:
import pandas as pd
import numpy as np

In [66]:
ca_adi_pd = pd.read_csv("CA_2013_ADI_9 Digit Zip Code.txt")
ca_adi_pd.head()

  TYPE       ZIPID       GEOID10          GISJOIN ADI_STATERNK ADI_NATRANK
0    P  G894398001  3.203100e+11  G32003100023022            P           P
1    P  G894398004  3.203100e+11  G32003100023022            P           P
2    P  G894398000  3.203100e+11  G32003100023022            P           P
3    P  G894398005  3.203100e+11  G32003100023022            P           P
4    P  G894398003  3.203100e+11  G32003100023022            P           P

In [67]:
ca_adi_pd["Zip"] = ca_adi_pd["ZIPID"].str[1:6]
ca_adi_pd.sort_values('Zip')
ca_adi_zip_pd = ca_adi_pd.drop([0,1,2,3,4,5,6,7,8,9])

In [68]:
ca_adi_zip_pd = ca_adi_zip_pd[['Zip','ADI_STATERNK','ADI_NATRANK']]

# Remove non-integer records from State and Natl rank columns
non_int = ['U','P', np.nan]
ca_adi_zip_pd = ca_adi_zip_pd[~ca_adi_zip_pd['ADI_STATERNK'].isin(non_int)]

# Convert Rankings to Integer so that they can be averaged for the groupby
ca_adi_zip_pd['ADI_STATERNK'] = ca_adi_zip_pd['ADI_STATERNK'].apply(pd.to_numeric)
ca_adi_zip_pd['ADI_NATRANK'] = ca_adi_zip_pd['ADI_NATRANK'].apply(pd.to_numeric)

In [69]:
ca_adi_zip_gr = ca_adi_zip_pd.groupby(["Zip"])
ca_adi_df = ca_adi_zip_gr.mean()
ca_adi_df.to_csv(f"CA_ADI_by_ZIP.csv", encoding='utf-8')