In [1]:
import pandas as pd

In [3]:
ca_poms_2016_pd = pd.read_csv("POMS2016.csv")
ca_poms_2016_pd.head()

,oshpd_id,facility_name,county_name,pattype,pzip,pcounty,discharges,year
0,10735,ALAMEDA HOSPITAL,ALAMEDA,AS Only,93635,MERCED,1,2016
1,10735,ALAMEDA HOSPITAL,ALAMEDA,AS Only,93722,FRESNO,1,2016
2,10735,ALAMEDA HOSPITAL,ALAMEDA,AS Only,94111,SAN FRANCISCO,1,2016
3,10735,ALAMEDA HOSPITAL,ALAMEDA,AS Only,94112,SAN FRANCISCO,1,2016
4,10735,ALAMEDA HOSPITAL,ALAMEDA,AS Only,94127,SAN FRANCISCO,2,2016

In [62]:
# Limit to data that can be aggregated by pt zip code
ed_visits_by_zip_tmp1 = ca_poms_2016_pd[['pzip','pcounty','year','pattype','discharges']]

# Use groupby to summarize discharges by pzip, pcounty, year and pattype
ed_visits_by_zip_tmp2 = ed_visits_by_zip_pd.groupby(['pzip','pcounty','year','pattype']).sum()
ed_visits_by_zip_tmp3 = ed_visits_by_zip_tmp2.reset_index()
ed_visits_by_zip_tmp4 = ed_visits_by_zip_tmp3.set_index(['pzip','pcounty','year'])
#ed_visits_by_zip_tmp4.head()

# Pivot pattype to isolate ED Visit in one column
ed_visits_by_zip_tmp5 = ed_visits_by_zip_tmp4.pivot_table(index=['pzip','pcounty','year'], columns='pattype',values='discharges').reset_index().set_index('pzip')
ed_visits_by_zip_tmp5.head()

pattype      pcounty  year  AS Only  ED Only  Inpatient  Inpatient from ED
pzip
90001    LOS ANGELES  2016   1798.0  24554.0     3628.0             3286.0
90002    LOS ANGELES  2016   1661.0  25168.0     3421.0             3314.0
90003    LOS ANGELES  2016   2111.0  32061.0     4610.0             4648.0
90004    LOS ANGELES  2016   2115.0  15820.0     2751.0             2639.0
90005    LOS ANGELES  2016   1107.0   8650.0     1579.0             1488.0